$primary: #0bb2d37b;
$primary_bold: #2e5c668a;
$secundary: #9f2fff;
$black: #121212;
$black_500: #333;
$grey_300: #565656;
$grey_200: #878787;
$grey_100: #d5d5d5;
$grey_hov: #69686894;
$white: #fff;
$white_500: #e1e1e1;
$yellow-star: #facc15;
$padding-mobile: 0.5rem 1rem 2rem 1rem;
$padding-desktop: 2rem 4rem;
$desktop-width: 1000px;
$tablet-width: 550px;